@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Reading Json Configuration files</h1>
    <p>
        MiJSONProperty String is: @Model
    </p>
</div>
